* {
    margin: 0;
    padding: 0;
}
body {
    background: #FFF0BD;
}
#root {
    display: flex;
    justify-content: center;
}
.container {
    width: 500px
}
.container h1 {
    padding: 30px 0 20px;
    text-align: center;
    letter-spacing: -2px;
}
.container .phonebook-wrap {
    
}
.phonebook-wrap .form-wrap {
    margin-bottom: 30px;
}
.phonebook-wrap .form-wrap form {
    padding: 20px 40px;
    background: #fff;
    border-radius: 30px;
}
.form-wrap form label {
    letter-spacing: -1px;
    font-size: 14px;
}
.form-wrap form [type='text'] {
    display: block;
    padding: 10px;
    margin-bottom:  10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 16px;
    box-sizing: border-box;
}
.form-wrap form [type='text']:focus {
    outline: none;
}
.form-wrap form [type='text']::placeholder {
    color: #f1f1f1;
}
.form-wrap form .button-box {
    text-align: right;
}
.form-wrap form button {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.phonebook-wrap .list-wrap {}
.list-wrap .search-wrap {
    margin-bottom: 20px;
}
.list-wrap .search-wrap form {
    padding: 8px 20px 10px;
    width: 100%;
    background: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    box-sizing: border-box;
}
.list-wrap .search-wrap [type='text'] {
    width: 80%;
    background: transparent;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
}
.search-wrap [type='text']:focus {
    outline: none;
}

.list-wrap .result-box {
    padding: 30px;
    background: #FFE694;
    border-radius: 30px;
    box-sizing: border-box;
    
}

.list-wrap .result-box .total {

}

.item-box {
    overflow: hidden;
    position: relative;
    padding: 15px 20px 15px 60px;
    margin: 10px 0;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}
.item-box img {
    position: absolute;
    left: 9px;
    top: 9px;
    width: 50px;
}
.item-box p {
    padding-left: 10px;
}
.item-box .name {}
.item-box .number {}
.item-box button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 0.2s;
}
.item-box button:hover {
    background: #000;
    color: #fff;
}
.item-box button svg {
    margin-right:  3px;
}

/* 반응형 */
@media (max-width: 720px){
    .container {
        width: 85%
    }
    .phonebook-wrap .form-wrap form {
        padding: 20px;
    }
}